/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-toastr/toastr.css";
.error {
    color: #f00;
    font-size: 12px;
}
.btn-sm {
    margin-right: 10px;
}